/*************************************************/
/******************** HEADING ********************/
/*************************************************/

h1,
h2 {
  font-family: "voyage regular" !important;
}

h1 a strong {
  white-space: nowrap !important;
}

#block-yui_3_17_2_1_1611341767502_13829 h2,
#block-yui_3_17_2_1_1611341767502_13829 h1 {
  margin: 0 !important;
}
