/*************************************************/
/***************** SUMMARY BLOCK *****************/
/*************************************************/

.summary-title .summary-title-episode-title {
  font-family: "Ronda Regular";
  text-transform: uppercase;
  font-size: clamp(1.5rem, 3vw, 2rem) !important;
  line-height: 1em;
  margin-bottom: 0.2em;
  display: block;
}

.summary-thumbnail {
  border-radius: 5px !important;
}

.summary-item {
  position: relative;
}

.summary-content * {
  font-size: 1rem !important;
}

@media (min-width: 769px) {
  .summary-content * {
    font-size: 2rem;
    line-height: 1;
  }
  .summary-thumbnail-outer-container,
  .summary-thumbnail-outer-container img {
    transition: transform 0.9s cubic-bezier(0.4, 0, 0.2, 1) !important;
  }

  .summary-thumbnail-outer-container:hover {
    transform: scale(0.97) !important;
  }

  .summary-thumbnail-outer-container:hover img {
    transform: scale(1.1) !important;
  }

  .summary-thumbnail::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    content: "";
    opacity: 0;
    transition: 400ms ease;
    pointer-events: none;
  }

  .summary-thumbnail:hover::after {
    opacity: 0.28;
  }

  .summary-content * {
    color: white !important;
    opacity: 0;
    transition: opacity 400ms ease !important;
    transition-delay: 0;
  }

  .summary-item:hover .summary-content * {
    opacity: 1;
  }

  .summary-content {
    padding: 1rem !important;
  }

  @media (min-width: 769px) {
    .summary-content {
      padding: 2rem !important;
    }
  }

  .summary-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
  }
}
