@import "./font.css";
@import "./config.css";
@import "./anim.css";
@import "./components/heading.css";
@import "./components/buttons.css";
@import "./components/paragraph.css";
@import "./utilities.css";
@import "./splash.css";
@import "./components/header.css";
@import "./components/player.css";
@import "./components/link.css";
@import "./components/summary-block.css";

#block-yui_3_17_2_1_1630852006224_3091 img {
  position: absolute;
  z-index: 1;
  opacity: 0.5;
  animation: animate-glare 10s ease;
  animation-direction: infinite alternate;
}

.grid-item:nth-of-type(3) {
  z-index: 999;
}

[data-section-id="6134d2ac46955a447b49ab91"] {
  margin-top: -30vw;
}

.ProductItem-details-checkout {
  display: flex !important;
  flex-direction: column-reverse;
}

.navChange {
  opacity: 1 !important;
}

a [data-section-id="613f3dfdca6782606ea59b2b"] .section-background {
  filter: blur(20px);
}

[data-section-id="613f3dfdca6782606ea59b2b"] a {
  color: white !important;
}

#block-yui_3_17_2_1_1631557441543_3617 {
  z-index: 999 !important;
}

@media screen and (max-width: 767px) {
  [data-section-id="6008f02304e45151eaa2892f"] .content-wrapper {
    display: flex !important;
    flex-direction: column-reverse !important;
  }
}

#block-yui_3_17_2_1_1620240398140_12639 {
  mask-image: linear-gradient(
    to right,
    transparent 9%,
    black 30%,
    black 60%,
    transparent 90%
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 9%,
    black 30%,
    black 60%,
    transparent 90%
  );
}

[data-section-id="614331fbacb5bb532251dd2a"] {
  display: none;
}

[data-section-id="614352d18601b54bc8b57f8a"] .section-background {
  filter: blur(20px);
}

.darkOverlay::after {
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  height: 100%;
  width: 100%;
  content: "";
  z-index: 99;
  opacity: 0.6;
  transition: all 0.5s linear;
  opacity: 0.3;
}

[data-section-id="614206867d9dc65ae5a82513"] .section-background {
  background: linear-gradient(to top, #486639, #fdf3e7);
}

[data-section-id="614206867d9dc65ae5a82513"] .content-wrapper {
  background: transparent !important;
}

#block-yui_3_17_2_1_1633382269536_11304 {
  border-radius: 10px;
  box-shadow: 0 0px 25px 0 rgba(0, 0, 0, 0.1);
  margin: 10px !important;
}

#block-yui_3_17_2_1_1633382269536_11304 {
  height: 250px;
  overflow: hidden;
  background: transparent !important;
  background-color: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2em;
}

#block-yui_3_17_2_1_1633382269536_11304 .sqs-block-content {
  z-index: 99;
  background: transparent !important;
  background-color: none !important;
  position: relative !important;
}

.splash-vid {
  position: absolute;
  width: 100%;
  height: 200%;
  top: 0;
  left: 0;
  z-index: 1;
}

#block-yui_3_17_2_1_1605042587191_5998 {
  opacity: 0.3;
}

[data-section-id="615c84f491ca2a0b14f680b9"],
[data-section-id="615c84f491ca2a0b14f680b9"] .content-wrapper,
#block-yui_3_17_2_1_1633454410723_18393,
[data-section-id="615c84f491ca2a0b14f680b9"] .content-wrapper .content {
  padding: 0 !important;
  width: 100% !important;
}

#block-yui_3_17_2_1_1633454410723_18393 .sqs-block-content {
  width: 100% !important;
}

.sqs-slide-wrapper[data-slide-type="popup-overlay"]
  .sqs-slide-container[data-slide-type="popup-overlay"].newsletter-layout-style-inline
  .actions:not(.stacked)
  .input-wrapper:not(.hidden) {
  height: 100% !important;
}

[data-form-id="5fab34f57c9a080d164c6bb9"] #overlayNewsletterEmail-field {
  margin: 0 !important;
  border-radius: 5px !important;
  padding: 1em !important;
  margin-bottom: 20px !important;
}

.sqs-slide-wrapper[data-slide-type="popup-overlay"]
  .sqs-slide-container[data-slide-type="popup-overlay"].newsletter-layout-style-inline
  .actions:not(.stacked)
  .input-wrapper:not(.hidden) {
  flex-direction: column !important;
}

@media (min-width: 1px) and (max-width: 600px) {
  .sqs-slide-wrapper[data-slide-type="popup-overlay"]
    .sqs-slide-container[data-slide-type="popup-overlay"].overlay-mobile-styles-enabled
    .group-copy {
    background-image: url(https://static1.squarespace.com/static/5faafe6bd14f953d9205c484/t/615caf1646f12869adfb0491/1633464087401/newsletter-bg.png) !important;
    background-size: 100% !important;
  }
}

#block-yui_3_17_2_1_1633526029577_16774 {
  display: none;
}

.horizontalrule-block hr {
  background-color: var(--faded) !important;
  height: 0.2px !important;
  opacity: 0.5 !important;
}

a::after {
  opacity: 0.7;
}

#wave {
  transform: translateY(0%) !important;
  display: none;
}

[data-section-id="6145d3ee35d33358f76c62ba"] {
  display: none !important;
}

[data-section-id="5fff20e77f5f772e3946a425"] {
  position: relative !important;
}

[data-section-id="6145d3ee35d33358f76c62ba"] {
  display: none !important;
}

#block-yui_3_17_2_1_1633382269536_11304 p,
#block-yui_3_17_2_1_1633382269536_11304 {
  color: var(--background) !important;
}

#block-yui_3_17_2_1_1633382269536_11304 {
  background-image: url(https://static1.squarespace.com/static/5faafe6bd14f953d9205c484/t/615caf1646f12869adfb0491/1633464087401/newsletter-bg.png) !important;
  background-size: 100% !important;
  background-position: bottom !important;
}

[data-section-id="600cba77423cee0263292d85"],
[data-section-id="600cb7cfd10b572a0fa8d2be"],
[data-section-id="600c48a7372c1f28dfe29fb7"],
[data-section-id="600c7e4fbe3bd878c171e512"] {
  display: block;
}

.sqs-widgets-audio-player-content,
.player {
  width: 100% !important;
}

.play {
  display: flex;
  align-items: center;
}

.labels .title {
  font-family: "ITC Ronda Bold";
  font-size: 3em !important;
  text-align: center;
}
.artistName {
  display: none;
}

.action {
  position: absolute !important;
  top: 50%;
  bottom: 50%;
  transform: translateY(-50%);
}

#wave-logo {
  display: block;
  margin: 0 auto;
}

body {
  position: relative !important;
}

#block-yui_3_17_2_1_1625832099300_15441 {
  display: none !important;
}

/* BACKGROUND-COLORS */

.blog-basic-grid .collection-content-wrapper {
  background-color: white !important;
}

/* HEADER */
/* HERO INTRO SECTION */

.h-entry {
  padding-top: 0 !important;
}

#block-yui_3_17_2_1_1606521811758_6151 {
  padding: 20px 0px !important;
}

.h-entry {
  padding-top: 70px !important;
}

#block-02304478b6cd5c1802ea {
  display: flex !important;
  justify-content: center;
}

#block-yui_3_17_2_1_1606332324822_10827 {
  background-color: var(--hover);
}

/* SHARE BUTTONS */

/* ANIMATE TEXT ON SCROLL */

.blog-basic-grid--container img {
  transition: 300ms ease;
}

.blog-basic-grid--container:hover img {
  opacity: 0.7;
}

/* ABOUT US */

.image-subtitle-wrapper a {
  position: relative;
}

.image-subtitle-wrapper a[href="https://www.soundfood.space/about-us"]
{
  font-size: 25px !important;
  color: var(--background) !important;
}
[data-section-id="5ffcd3ef501ef15a4328de6d"] a::after {
  content: "";
  position: absolute;
  bottom: -24px;
  width: 250px;
  height: 67px;
  left: -35px;
  background-image: url(https://static1.squarespace.com/static/5faafe6bd14f953d9205c484/t/5fe95b5d5e66733f024c1c9b/1609128797987/final-horizontal-design-21.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.image-subtitle-wrapper a[href="https://www.soundfood.space/about-us"]::after:hover
{
  opacity: 0;
}

.image-subtitle-wrapper a[href="https://www.soundfood.space"]
{
  font-family: "Expressa Regular" !important;
  color: white !important;
}

.sqs-block-html a {
  background-image: none !important;
}
.sqs-block a {
  background-image: none !important;
}

/* SOCIAL ICON STYLE */

/* MERCURIAL MAIL SECTION HOME */

#email-yui_3_17_2_1_1609168855956_12330-field {
  box-shadow: none !important;
}

#email-yui_3_17_2_1_1609168855956_12330-field:focus {
  outline: none;
}

[data-section-id="5fd170689a9e5443ac6f60f2"] input[type="text"] {
  font-family: var(--bodyfont);
}
[data-section-id="5fd170689a9e5443ac6f60f2"] input::placeholder {
  color: var(--faded) !important;
  font-size: 20px;
}

[data-section-id="5fd170689a9e5443ac6f60f2"] input {
  background-color: var(--background) !important;
  outline: none !important;
  border: 0px !important;
  -webkit-appearance: none;
}
/*
  #block-yui_3_17_2_1_1609176215201_7450::after {
    content: '';
    position: absolute;
    bottom: -90px;
    width: 70vw;
    height: 200px;
    left: 100px;
    background-image: url(https://static1.squarespace.com/static/5faafe6bd14f953d9205c484/t/5fe95b5d5e66733f024c1c9b/1609128797987/final-horizontal-design-21.png);
    background-size: contain;
    background-repeat: no-repeat
  }
  */

.form-submission-text {
  font-family: var(--bodyfont);
  font-size: 25px;
}

#collection-5fbeee2a645712565425d21e h4 {
  color: var(--background);
}

#yui_3_17_2_1_1609194754161_401 {
  background-image: url(https://static1.squarespace.com/static/5faafe6bd14f953d9205c484/t/5fe8e1863a38f1395d7835f2/1609097607045/final-horizontal-design-22.png);
  background-size: contain;
  background-repeat: no-repeat;
}

/* WAVELENGTH PAGE */

/*EPISODE TEASTER SECTION */
[data-section-id="5fb87ce5773f2a69296d6aa8"]
  #block-yui_3_17_2_1_1609110304280_7151
  h4 {
  margin: 0 !important;
}

[data-section-id="5fb87ce5773f2a69296d6aa8"]
  #block-yui_3_17_2_1_1609110304280_7151
  h3 {
  margin-top: 10px;
}

/* INDIVIDUAL BLOG PAGES */

[data-section-id="5fb87b662cbb3411d980821d"] a {
  width: 150px !important;
  height: 40px;
  margin: 0 auto;
  animation: fadein 2s ease;
  animation-fill-mode: forwards;
  opacity: 0;
  animation-delay: 3s;
  transition: 300ms ease;
}

@media screen and (max-width: 1000px) {
  .home-tag-line {
    margin-bottom: 10% !important;
    margin-top: 10% !important;
  }
}
[data-section-id="5fb87b662cbb3411d980821d"] a {
  transition: 300ms ease !important;
}

/* WAVELENGTH HOME END */

/* links styling */

a[href="/join"] {
  border-radius: 5px;
  color: var(--hover) !important;
  text-align: center;
  font-family: var(--bodyfont) !important;
  font-weight: bolder;
  letter-spacing: 1px !important;
}

a[href="/join"]:hover {
  opacity: 0.6 !important;
}

[data-section-id="5fea08bd0dabfe0736992921"] a {
  background-color: var(--hover);
  color: var(--background) !important;
  height: 40px !important;
  width: 150px;
  margin: 0 auto;
}

[data-section-id="5fbeef613c02f22b9df89df7"] a {
  background-color: var(--background) !important;
  color: var(--hover) !important;
  width: 150px;
  height: 40px;
  letter-spacing: 0.5px !important;
  margin: 0 auto;
}
/* WAVELNGTH FAQ SECTION */

[data-section-id="5feb91173b288412fe78efad"],
[data-section-id="5feb91173b288412fe78efad"] .content-wrapper {
  background-color: var(--background) !important;
}

#block-5feb9117ddf1b074672271fa h3 {
  font-family: "Expressa Regular" !important;
}

#block-yui_3_17_2_1_1609273702121_6275 h2 {
  box-shadow: 0 0px 25px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 15px;
}

#block-yui_3_17_2_1_1609273702121_6275 h2 {
  transition: 300ms ease;
  transition-delay: 0s !important;
  font-size: 20px !important;
}

a[href="/join-wavelength"] {
  font-weight: bolder;
}

/* AUDIO PLAYER STYLES BEGIN */

[data-section-id="5fb87b662cbb3411d980821d"] .content-wrapper {
  padding-top: 8vw !important;
}

#block-yui_3_17_2_1_1609463317014_15596 {
  font-family: var(--bodyfont) !important;
  border: 0px !important;
}

#block-yui_3_17_2_1_1609463317014_15596 :focus {
  outline: none !important;
}

/* INSTAGRAM SLIDER SECTION */

@media screen and (max-width: 902px) {
  #block-yui_3_17_2_1_1609525360968_12472 h2 {
    font-size: 6vw !important;
  }
}

#page-container {
  background-color: var(--background) !important;
}

/* ADJUST BACKGROUNDS ON EPSIODES PAGE */

.item-pagination-title {
  color: var(--hover) !important;
  font-family: var(--bodyfont) !important;
  font-size: 5vw !important;
}

@media screen and (min-width: 900px) {
  .item-pagination-title {
    font-size: 50px !important;
  }
}

input:focus {
  outline: none;
  font-family: var(--bodyfont) !important;
}

#block-yui_3_17_2_1_1609638321229_12134 {
  position: absolute;
  bottom: -60px;
  width: 100%;
  left: 0;
}

#block-yui_3_17_2_1_1609638321229_12134 input {
  background-color: var(--background);
  outline: none;
  border: 0px;
  opacity: 1;
}

#block-yui_3_17_2_1_1609641909030_25123 {
  width: 30px !important;
  margin: 0 !important;
  display: inline-block;
}

#loupe {
  transition: 300ms ease;
  background-color: var(--backround);
}

#loupe:hover {
  fill: var(--faded);
}

.search {
  background-color: var(--background) !important;
}

.x {
  position: absolute;
  right: 40px;
  background-color: var(--background) !important;
  bottom: 110px;
}

#block-yui_3_17_2_1_1609638321229_12134 {
  display: none;
}

.sqs-search-preview,
.sqs-search-preview-content {
  font-family: var(--bodyfont) !important;
}

#block-yui_3_17_2_1_1609701893090_12739 .sqs-block-button-container--center a {
  width: 200px;
  background-image: none;
  background-color: transparent !important;
}

#block-d1f0ff3f09451a421524 h1 {
  font-size: 80px !important;
  line-height: 3.8rem;
}

.lightbox-handle {
  background-color: var(--hover) !important;
  padding: 7px !important;
  width: 100px !important;
  font-family: var(--bodyfont) !important;
  margin: 0 auto !important;
  font-size: 25px !important;
  text-transform: uppercase !important;
}

.lightbox-handle-wrapper {
  display: flex;
}

.lightbox-content {
  background-color: var(--background) !important;
  border-radius: 10px;
}

.lightbox-content .form-title {
  font-family: "Voyage regular";
  font-size: 50px !important;
  text-transform: uppercase;
}

.lightbox-content label {
  font-family: var(--bodyfont) !important;
  font-size: 20px;
}

#block-c9a12c2b653fe697938b input {
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  background-color: var(--background);
  font-family: var(--bodyfont);
  border-radius: 0px !important;
  font-size: 16px;
}

#block-c9a12c2b653fe697938b label {
  font-family: var(--bodyfont);
}

#block-c9a12c2b653fe697938b legend {
  font-family: var(--bodyfont);
}

#block-c9a12c2b653fe697938b textarea {
  background-color: var(--background);
  border: none;
  border-bottom: 1px solid black;
  font-family: var(--bodyfont);
  font-size: 16px;
  border-radius: 0px;
}

#block-c9a12c2b653fe697938b textarea:focus {
  outline: none;
}

#block-a53fff3cdf0def201b24 h1 {
  line-height: 3rem !important;
}

@media screen and (max-width: 767px) {
  #block-a53fff3cdf0def201b24 h1 {
    text-align: center;
  }
}

a[href="https://www.vogue.com/article/women-with-superpowers-wellness-gurus-tasya-van-ree-nitsa-citrine-healers-sun-potion-supplements-los-angeles"]
{
  color: var(--hover) !important;
}

[data-folder="/wavelength"] {
  transform: translateX(0px) !important;
  z-index: -999;
}

[data-section-id="5ff498d90d5ed170ab3fdd9d"] h2,
[data-section-id="5ff498d90d5ed170ab3fdd9d"] p {
  color: var(--background) !important;
}

/* THE PODCAST PAGE */
[data-section-id="5ff499ff1a1a75700e338aa9"] p {
  color: var(--faded);
}

.sqs-popup-overlay-close::before {
  color: black !important;
}

.sqs-popup-overlay-close:focus {
  outline: none !important;
}

.c-lightbox__content-inner {
  background-color: var(--background) !important;
}

a[href="https://www.soundfood.space/about-us/#nitsa-citrine"]
{
  color: var(--background) !important;
}

[data-section-id="5ff499ff1a1a75700e338aa9"] h3 {
  font-size: 6vw;
}

[data-section-id="5ff499ff1a1a75700e338aa9"] h1 {
  font-size: 5vw !important;
}

@media screen and (min-width: 1200px) {
  [data-section-id="5ff499ff1a1a75700e338aa9"] h3 {
    font-size: 70px !important;
  }
  [data-section-id="5ff499ff1a1a75700e338aa9"] h1 {
    font-size: 60px !important;
  }
}

@media screen and (max-width: 763px) {
  [data-section-id="5ff499ff1a1a75700e338aa9"] h3 {
    font-size: 50px !important;
  }
  [data-section-id="5ff499ff1a1a75700e338aa9"] h1 {
    font-size: 38px !important;
  }
}

.splash-tease-latest {
  text-transform: uppercase;
}

/* INSTA REMOVE BOTTOM ROW */

#email-yui_3_17_2_1_1561060152221_28009-field {
  background-color: transparent !important;
  border: none;
}

#email-yui_3_17_2_1_1561060152221_28009-field {
  box-shadow: none !important;
}

#email-yui_3_17_2_1_1561060152221_28009-field {
  width: 60% !important;
}

#email-yui_3_17_2_1_1561060152221_28009 {
  padding: 15px !important;
  width: 100% !important;
  text-align: left;
}

#block-9758466c2b0dc584a0f6 p a,
#block-yui_3_17_2_1_1610042930943_22332 p a {
  text-transform: capitalize !important;
}

#email-yui_3_17_2_1_1561060152221_28009-field {
  width: 180px !important;
  padding: 0 !important;
}

#block-yui_3_17_2_1_1610042930943_22332 p,
#block-9758466c2b0dc584a0f6 p {
  margin: 0;
}

#block-yui_3_17_2_1_1610042930943_22332 p:nth-of-type(1),
#block-9758466c2b0dc584a0f6 p:nth-of-type(1) {
  margin-bottom: 20px !important;
}

#show-notes {
  font-size: 23px !important;
}

/* OFFSET SMOOTH SCROLLING SO THAT IT SCROLLS TO EXACT SPOT */

#block-c90ef235093cf5221596 h2 {
  padding-top: 100px;
  margin-top: -100px;
}

#block-dda80d5a05b0b64aac2a {
  padding-top: 100px;
  margin-top: -100px;
}

#block-yui_3_17_2_1_1610409234976_12782 .sqs-block-button-container--center a {
  background-color: transparent !important;
}

.gallery-caption-fullscreen-slideshow {
  width: 100% !important;
  height: 100%;
  margin: 0 auto;
}

.gallery-caption-wrapper {
  position: relative;
}

.gallery-caption-wrapper p {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) !important;
  font-family: var(--bodyfont) !important;
}

.gallery-caption-reel {
  margin-top: 0;
}

.gallery-caption-wrapper {
  display: flex !important;
  justify-content: center;
}

[data-section-id="5ffd9e1cc6c2283051c9e085"] .content {
  margin-bottom: -150px;
}

.item-pagination {
  display: none;
}

.blog-item-wrapper .sqs-block-content h3,
.blog-item-wrapper .sqs-block-content h1 {
  margin-top: 0 !important;
}

.blog-item-wrapper .sqs-block-content h3 {
  margin-bottom: 0px !important;
}

.summary-content .summary-title {
  display: flex !important;
  align-items: center;
  justify-content: center;
  text-align: center;
}

[data-section-id="600243b334e5f821271d9e44"] .image-block .sqs-block-content {
  box-shadow: none !important;
}

.gallery-caption-wrapper p {
  font-family: "voyage regular" !important;
  color: var(--faded);
  font-size: 6vh !important;
  line-height: 1rem !important;
}

#block-c9a12c2b653fe697938b input,
#block-c9a12c2b653fe697938b textarea {
  background-color: transparent;
}

.header-nav-item:nth-of-type(13) {
  display: none;
}

.highlighted {
  z-index: 999 !important;
  font-family: var(--bodyfont);
  line-height: 1rem;
  position: absolute;
  display: block;

  bottom: -150px;
  width: 100%;
  text-align: center;
}

.gallery-caption p {
  line-height: 2.3rem !important;
}

/* PODCAST PAGE ADJUST DESCRIPTION */

#block-356faca5448afb19a718 {
  margin-top: 9% !important;
}

.bright-inverse .sqs-block-horizontalrule hr {
  background-color: #c4bcb5 !important;
  height: 1px;
}

#block-yui_3_17_2_1_1611322950524_10202 .summary-heading span {
  font-family: var(--bodyfont);
  color: black;
  font-size: 20px;
  text-align: center !important;
}

[data-section-id="600ad5dd2403ba1012bebfc2"] .summary-heading {
  padding: 0 !important;
  width: 100% !important;
  text-align: center;
}

[data-section-id="600ad5dd2403ba1012bebfc2"] p {
  font-size: 20px !important;
}

#block-yui_3_17_2_1_1611323244776_13367 p {
  font-weight: bolder;
}

[data-section-id="600ad5dd2403ba1012bebfc2"]:hover {
  display: flex;
}

[data-section-id="600ad5dd2403ba1012bebfc2"] {
  display: none;
}

#block-yui_3_17_2_1_1611243489353_6472
  .archive-block-wrapper
  .archive-group-list {
  background-color: #f2ebe3 !important;
}

#show-notes {
  text-align: center;
}

.sqs-block-content:before {
  position: absolute;
  right: 0;
}

/* HOME NATON FEATURED EPISODES */
.info-slide p {
  font-family: "voyage regular" !important;
  font-size: 2em !important;
}

.info-slide {
  display: flex;
  flex-direction: column-reverse;
}

.gallery-caption-content {
  color: var(--hover) !important;
}

.sqs-block-markdown .sqs-block-content {
  display: flex !important;
  align-items: center;
}

.sqs-block-markdown .sqs-block-content:before {
  text-align: center;
  width: 100%;
}

#block-yui_3_17_2_1_1611361049794_13819 .section-background {
  display: none !important;
}

#block-yui_3_17_2_1_1611351574788_11054 {
  margin-bottom: 5%;
}

#block-yui_3_17_2_1_1611341767502_13829 h1:after {
  display: none !important;
}

.header-nav-item:nth-of-type(5) {
  display: flex;
}

.user-accounts-link a {
  transition: 300ms ease !important;
}

.user-accounts-link:hover a {
  color: var(--hover) !important;
}

.sqs-block-image img {
  padding: 0;
}

[data-section-id="600c6e960334757258174c00"]
  #block-yui_3_17_2_1_1611427421106_18895 {
  margin-top: -370px;
  z-index: 999;
}

[data-section-id="600c7e4fbe3bd878c171e512"] {
  margin-top: -290px !important;
}

/* about us */

/* READ MORE SHOW NOTES */

#block-yui_3_17_2_1_1611433724790_11902 {
  -webkit-mask-image: linear-gradient(to bottom, black 5%, transparent 90%);
  mask-image: linear-gradient(to bottom, black 50%, transparent 40%);

  max-height: 100px;
  transition: 300ms ease;
}

.sectionReveal {
  max-height: 100% !important;
}

.archive-dropdown-toggle-label {
  background-color: var(--hover);
  border-radius: 5px;
}
.archive-dropdown-toggle-label span {
  color: var(--background);
}

.archive-group-name-link {
  font-family: var(--bodyfont) !important;
}

#collection-5fb955eceead1a267e3bbed9 h3 {
  margin-bottom: -25px;
}

[data-section-id="600cb7cfd10b572a0fa8d2be"] {
  margin-top: -40px;
  background-color: transparent !important;
}

/* RECENT EPISODES */

/* LATEST EPISODES */

#block-yui_3_17_2_1_1611584147603_18681 .sqs-gallery-design-strip {
  overflow: visible !important;
}

#block-yui_3_17_2_1_1611584147603_18681 .sqs-gallery-design-strip img {
  padding: 0 10px;
}

#block-yui_3_17_2_1_1611584147603_18681 .next,
#block-yui_3_17_2_1_1611584147603_18681 .previous {
  opacity: 0;
  transition: 300ms ease;
}

#block-yui_3_17_2_1_1611587599336_7347 .sqs-gallery-container {
  overflow: visible !important;
}

.summary-heading {
  display: none !important;
}

#block-yui_3_17_2_1_1611351574788_11054 {
  margin-bottom: -200px;
}

[data-section-id="600ed3fe00b5600e9bf7ae6d"] {
  margin-top: -80px;
  z-index: -1;
}

#block-yui_3_17_2_1_1611417328005_23091 {
  z-index: 999 !important;
}

#text-path {
  font-size: 100px !important;
}

@media screen and (max-width: 452px) {
  #text-path {
    font-size: 30vw !important;
  }
}

#block-yui_3_17_2_1_1611619293494_8771 p {
  color: var(--background);
}

[data-section-id="600ed3fe00b5600e9bf7ae6d"] {
  display: none;
}

.gallery-reel-item-src img {
  padding: 0 10px;
}

.blog-meta-item {
  display: none;
}

article .sqs-block-gallery img {
  margin: 0 10px !important;
}
article .sqs-gallery-design-strip {
  overflow: visible !important;
  position: relative;
}

#block-yui_3_17_2_1_1611664180786_12076 {
  display: none;
}

#show-notes {
  opacity: 0 !important;
}

.c-lightbox__content-inner {
  background-color: var(--background) !important;
}

.header-nav-item:nth-of-type(14) {
  display: none;
}

p a strong {
  font-weight: lighter !important;
}

#collection-60061950a7e7ba5564e235b4 .summary-content,
#collection-6006193195feb651546ed10f .summary-content,
#collection-6006052e4f994d4e73916926 .summary-content,
#collection-60148d2bf67ed6626b0da006 .summary-content,
#collection-60148d4de3071014745cc228 .summary-content,
#collection-60148d71f67ed6626b0da257 .summary-content,
#collection-60062a001c6cfa0180f3a980 .summary-content,
#collection-601abea15af6832be7fcda0a .summary-content {
  display: flex;
  flex-direction: column;
  padding: 0 !important;
}
.summary-thumbnail-outer-container {
  transition: 300ms ease;
}

#collection-5ff9a50ca6aa4755bbb7a839 .blog-title a {
  color: var(--hover) !important;
  letter-spacing: 1px;
}
.blog-basic-grid .blog-excerpt p {
  font-family: "Voyage Regular" !important;
}

#block-yui_3_17_2_1_1612026271763_9998 p {
  letter-spacing: 2px;
}

.header-nav-item:nth-of-type(15),
.header-nav-item:nth-of-type(16),
.header-nav-item:nth-of-type(17) {
  display: none;
}

/* REMOVE NOURISH MEGA NAV */

.megaMenuSection {
  display: none;

  transition: 300ms ease !important;
}

[data-section-id="60071f4e9bc8c3137f31829b"] .summary-title-link:hover,
[data-section-id="6015527e9ee8cd3b25d9776e"] .summary-title-link:hover,
[data-section-id="60155226e119a623bce67d04"] .summary-title-link:hover,
[data-section-id="601551eac4d0fd73dc1d36ee"] .summary-title-link:hover,
[data-section-id="6007260bd9cfee4ce9811fe3"] .summary-title-link:hover,
[data-section-id="6015518199cc3e59417899db"] .summary-title-link:hover,
[data-section-id="60148f892c85392c6b4ced26"] .summary-title-link:hover {
  opacity: 1 !important;
}

[data-section-id="60158d524ca92c241dd8c3ed"]
  .sqs-block-summary-v2
  .img-wrapper
  img,
[data-section-id="60158d5ebc2f951141bb71da"]
  .sqs-block-summary-v2
  .img-wrapper
  img,
[data-section-id="60158d77ee1ce117242108ee"]
  .sqs-block-summary-v2
  .img-wrapper
  img,
[data-section-id="60158d69a094b02e338379cd"]
  .sqs-block-summary-v2
  .img-wrapper
  img,
[data-section-id="60158d7dcf4b097cfc97a03b"]
  .sqs-block-summary-v2
  .img-wrapper
  img,
[data-section-id="60158da32ca0471841ddc25b"]
  .sqs-block-summary-v2
  .img-wrapper
  img {
  width: auto !important;
  height: 100% !important;
}

[data-section-id="60158d524ca92c241dd8c3ed"] .summary-block-header,
[data-section-id="60158d5ebc2f951141bb71da"] .summary-block-header,
[data-section-id="60158d77ee1ce117242108ee"] .summary-block-header,
[data-section-id="60158d69a094b02e338379cd"] .summary-block-header,
[data-section-id="60158d7dcf4b097cfc97a03b"] .summary-block-header,
[data-section-id="60158da32ca0471841ddc25b"] .summary-block-header {
  display: none;
}

[data-section-id="60158d524ca92c241dd8c3ed"] .summary-title-link,
[data-section-id="60158d5ebc2f951141bb71da"] .summary-title-link,
[data-section-id="60158d77ee1ce117242108ee"] .summary-title-link,
[data-section-id="60158d69a094b02e338379cd"] .summary-title-link,
[data-section-id="60158d7dcf4b097cfc97a03b"] .summary-title-link,
[data-section-id="60158da32ca0471841ddc25b"] .summary-title-link {
  font-size: 20px !important;
  letter-spacing: 1px;
}

[data-section-id="60158d524ca92c241dd8c3ed"] .content-wrapper,
[data-section-id="60158d524ca92c241dd8c3ed"] .section-background {
  background-color: #fdf3e7;
}

[data-section-id="60158d524ca92c241dd8c3ed"]:hover,
[data-section-id="60158d5ebc2f951141bb71da"]:hover,
[data-section-id="60158d77ee1ce117242108ee"]:hover,
[data-section-id="60158d69a094b02e338379cd"]:hover,
[data-section-id="60158d7dcf4b097cfc97a03b"]:hover,
[data-section-id="60158da32ca0471841ddc25b"]:hover {
  display: flex !important;
}

.revealMegaMenu {
  display: flex !important;
}

#block-yui_3_17_2_1_1612025268678_15625 {
  width: 100%;
}

.summary-content p:nth-of-type(2) {
  display: none !important;
}

.summary-excerpt {
  display: flex;
  align-items: center;
  justify-content: center;
}

.entry-title {
  font-family: "ITC Ronda Bold" !important;

  margin-bottom: -15px !important;
  color: var(--background) !important;
}

.wavelength h1:not(.entry-title) {
  font-family: "voyage regular" !important;
  color: black !important;
}

.wm-blog-banner .blog-item-description {
  display: block;
  font-family: "voyage regular";
}

.summary-thumbnail .img-wrapper {
  position: relative !important;
}

#block-yui_3_17_2_1_1611067709222_4085 h1 {
  font-family: "ITC Ronda Bold" !important;
  color: var(--background) !important;
  letter-spacing: 4px;
  font-size: 85px !important;
}

#block-yui_3_17_2_1_1611067709222_4085 h2 {
  font-size: 33px;
}

#block-yui_3_17_2_1_1612223160333_7388 a {
  transition: 300ms ease;
  background-color: #889e63 !important;
  font-family: "Kobe Regular" !important;
  letter-spacing: 0px;
}

#block-yui_3_17_2_1_1612223160333_7388 a:hover {
  opacity: 1;
  background-color: #436736 !important;
}

#yui_3_17_2_1_1612291827801_84 {
  display: none !important;
}

.system-page button {
  font-family: "var(--bodyfont)" !important;
  background-color: none !important;
  color: var(--faded) !important;
  font-size: 30px !important;
}

.system-page h2 {
  font-size: 40px !important;
  margin-bottom: 40px !important;
}

.sqs-editable-button {
  background-color: none !important;
}

.blog-item-top-wrapper .sqs-block-button {
  order: 3;
}

.blog-item-top-wrapper .sqs-block-button a {
  font-family: "Kobe Regular" !important;
  background-color: #889e63 !important;
  transition: 300ms ease;
}

.blog-item-top-wrapper .sqs-block-button a:hover {
  background-color: var(--hover) !important;
  opacity: 1 !important;
}

/* Search Icon in Header */
.fa-search {
  margin-left: 0px;
}

/* Colour on Dark Themes */
/* .dark, .dark-bold, .black, .black-bold, .bright {
  .fa-search {
  color: white;
  }
  } */
/* Colour on Light Themes */
/* .white, .white-bold, .light, .light-bold, .bright-inverse {
  .fa-search {
  color: black;
  }
  } */

/* @media only screen and (max-width:640px) {
  .fa-search {
  margin-left: 0;
  }
  }
  
  .user-accounts-text-link  {
    padding-left: 0 !important;
  }
  .user-accounts-text-link{
   margin-right: 35px;
  } */

/*
  .header-nav-list {
    margin-right: 10px;
  }
  
  */

.fa-lg {
  font-size: 22px;
}

/* WAVELENGTH SYSTEM PAGES */

.logged-out-display header {
  display: none;
}

.blog-item-inner-wrapper
  .sqs-block-button:not(.blog-item-top-wrapper .sqs-block-button)
  a {
  transition: 300ms ease;
}

.blog-item-inner-wrapper
  .sqs-block-button:not(.blog-item-top-wrapper .sqs-block-button)
  a:hover {
  background-color: #889e63 !important;
  opacity: 1 !important;
}

.system-page-logo {
  width: 40vw !important;
}

.system-page p {
  font-family: "Kobe Regular" !important;
  margin-top: 50px !important;
  font-size: 25px !important;
  line-height: 2rem !important;
}

.system-page #headline {
  display: none !important;
}

.system-page {
  height: 100vh !important;
}

#sqs-member-access-page-root {
  height: 100% !important;
  padding: 0 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column;
  width: 600px !important;
}

#sqs-member-access-page-root button {
  font-family: "Kobe regular" !important;
  background-color: transparent !important;
}

#sqs-member-access-page-root .sqs-editable-button {
  margin-top: 50px !important;
}

#block-yui_3_17_2_1_1611067709222_4085 h1 {
  font-size: 8vw !important;
}

@media screen and (min-width: 1200px) {
  #block-yui_3_17_2_1_1611067709222_4085 h1 {
    font-size: 100px !important;
  }
}

.wavelength .theme-btn--primary {
  display: none !important;
}

/* GENERAL STYLES WAVELENGTH */

/* ADJUST STYLES OF SUMMARY BLOCK */

.wavelength .summary-title-link {
  font-family: "ITC Ronda bold" !important;
  font-size: 28px !important;
}

.wavelength .summary-title-link {
  margin-top: 35px !important;
  line-height: 2.5rem !important;
}

#backtotop {
  background-color: #fdf3e7;
  border: 1px solid black;
  color: var(--hover) !important;
  font-size: 19px !important;
}

#block-yui_3_17_2_1_1611067863195_6160
  .summary-thumbnail-outer-container::after {
  display: none !important;
}

.gallery-caption {
  position: absolute;
  top: 0;
  margin-bottom: -9vh !important;
}

.gallery-reel-item-wrapper {
  margin-top: 95px;

  margin-bottom: -250px !important;
  z-index: 999;
}

.header-nav-item {
  padding: 0px 5px;
}

/* REMOVE MARGIN/ADD PADDING TO STICK NAV ITEMS NEXT TO EACH OTHER (CONFIGURED FOR THE MEGA MENU) */
.header-nav-item {
  margin: 0 !important;
  padding: 10px;
  height: 100% !important;
}

/* STYLE WAVELENGTH NAVIGATION (CENTERED) */
/* .header-nav-list {
         display: flex !important;
  
    display: flex !important;
    justify-content: center !important;
      
    }
    
     
    
  } */

/* ADD SOUNDFOOD NAV ITEMS */

.megaMenuSection {
  position: fixed !important;

  left: 0;
  right: 0;
}

.wavelength .archive-dropdown-toggle-label {
  background-color: transparent !important;
}

.wavelength .archive-dropdown-toggle-label span {
  font-family: "Kobe regular";
  color: black;
}

.wavelength .archive-block-wrapper {
  background-color: transparent !important;
}
.wavelength .archive-block-wrapper .archive-group-list {
  background-color: transparent !important;
}
.wavelength .archive-dropdown-toggle-label span {
  text-transform: uppercase;
  font-family: "ITC Ronda Bold";
  letter-spacing: 2px;
}

.wavelength .archive-block-wrapper .archive-group a {
  font-family: "Kobe Regular" !important;
  font-weight: bolder;
  letter-spacing: 1px;
  color: black !important;
}

.user-accounts-link {
  border: none !important;
}

@media screen and (max-width: 600px) {
  .header-nav {
    display: none;
  }
}

[data-section-id="60062ebf95feb6515470ee02"] .gallery-caption-wrapper p {
  font-size: 30px !important;
  margin-top: 10px;
  letter-spacing: 2px;
}

#email-yui_3_17_2_1_1561060152221_28009-field {
  color: var(--faded) !important;
}

body:not(.wavelength) .user-accounts-text-link {
  margin-right: 0;
}

.wavelength {
  display: none !important;
}

h3 em {
  font-family: "Voyage Regular" !important;
  font-style: normal;
  text-transform: none !important;
}

#collection-600b4b9373b1162c4fc8ee2e h2 {
  color: var(--background);
  font-size: 90px;
}

#collection-600b4b9373b1162c4fc8ee2e
  [data-section-id="600b4ba2cd280e380e777d76"]
  p {
  font-family: "Plak" !important;
  font-size: 60px;
  color: var(--background);
}

#collection-600b4b9373b1162c4fc8ee2e h4 {
  color: var(--background) !important;
  font-family: "Plak";
}

[data-section-id="603d9002b724a91ac5646de1"] a {
  text-transform: capitalize;
}

[data-section-id="603d9002b724a91ac5646de1"] {
  margin-top: -100px;
}

#block-yui_3_17_2_1_1614648218917_26654 h1 {
  color: var(--background) !important;
  font-size: 90px;
}

h1 strong {
  font-family: "Ronda Regular";
  text-transform: uppercase;
}

#block-yui_3_17_2_1_1614134346766_14779 h2 {
  color: var(--background) !important;
}

#block-yui_3_17_2_1_1614644274138_3266 h2 {
  color: var(--background) !important;
}

.h-entry h2 {
  margin-top: 16px !important;
}

.header-display-mobile .header-title-logo {
  width: auto !important;
}

@media screen and (max-width: 600px) {
  [data-section-id="603d93a9a9c0b96ffbf9b322"] h1 {
    font-size: 11vw !important;
  }

  [data-section-id="603d93a9a9c0b96ffbf9b322"] p {
    font-size: 8vw !important;
  }
}

#block-yui_3_17_2_1_1609110304280_7151 h2 {
  text-transform: capitalize !important;
}

#block-yui_3_17_2_1_1609110304280_7151 h3 {
  margin-bottom: -20px;
}

/* .entry-title {
  color: var(--hover) !important;
  font-family: "voyage regular" !important;
}

.about-us-heading {
  margin-top: 45px;
}

.archive-group-name-link {
  font-family: "Voyage Regular" !important;
  font-weight: lighter !important;
  font-size: 35px !important;
  color: #c45822 !important;
}

#block-yui_3_17_2_1_1611243489353_6472
  .archive-block-wrapper
  .archive-group-list {
  background-color: var(--background) !important;
}

.archive-item-link {
  font-family: "ITC Ronda Bold" !important;
  text-transform: uppercase;

  opacity: 1 !important;
  color: var(--hover) !important;
} */

[data-section-id="600742d57d9f8363e40d5680"] strong,
h1 strong {
  background: var(--rainbow);
  background-blend-mode: multiply !important;
  background-size: 200% !important;
  animation: rainbow-anim 10s infinite alternate !important;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/* #block-yui_3_17_2_1_1614134346766_14779 h2 {
  font-size: 4vw;
} */

@media screen and (max-width: 500px) {
  #block-yui_3_17_2_1_1614134346766_14779 h2 {
    font-size: 30px !important;
  }
}

#block-yui_3_17_2_1_1611341767502_13829 h1 {
  margin: 10px !important;
}

#block-yui_3_17_2_1_1615925060691_10485 span:nth-of-type(1) {
  display: inline-block;
  transform: rotate(180deg);
  margin-right: 8px;
}

#block-yui_3_17_2_1_1615925060691_10485 span:nth-of-type(2) {
  display: inline-block;
  margin-right: -10px;
  margin-left: -6px;
}

#block-yui_3_17_2_1_1615925060691_10485 h3 {
  letter-spacing: 6px;
  font-size: 90px !important;
}

/* #block-yui_3_17_2_1_1615925060691_10485 h3 {
  background: linear-gradient(
    30deg,
    #ff7a50,
    #f0cf6c,
    #eb9988,
    #4b844c,
    #7dbc9f,
    #4d7393,
    #b698af
  );
  background: -moz-linear-gradient(
    30deg,
    #ff7a50,
    #f0cf6c,
    #eb9988,
    #f0cf6c,
    #4b844c,
    #7dbc9f,
    #4d7393,
    #b698af
  );
  background: -webkit-linear-gradient(
    30deg,
    #ff7a50,
    #f0cf6c,
    #eb9988,
    #f0cf6c,
    #4b844c,
    #7dbc9f,
    #4d7393,
    #b698af
  );
  background: -o-linear-gradient(
    30deg,
    #ff7a50,
    #f0cf6c,
    #eb9988,
    #f0cf6c,
    #4b844c,
    #7dbc9f,
    #4d7393,
    #b698af
  );
  background: -ms-linear-gradient(
    30deg,
    #ff7a50,
    #f0cf6c,
    #eb9988,
    #f0cf6c,
    #4b844c,
    #7dbc9f,
    #4d7393,
    #b698af
  );
  background-size: 200% !important;
  animation: rainbow-anim 10s infinite alternate !important;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent !important;
} */

/* [data-section-id="6051060935bb907d5e539456"] {
  background-color: var(--background) !important;
} */

/* @media only screen and (min-width: 768px) {
  [data-section-id="6051060935bb907d5e539456"] .section-background {
    width: 50%;
    overflow-y: hidden;
  }
  [data-section-id="6051060935bb907d5e539456"] .content-wrapper {
    margin-left: 50% !important;
    height: 100vh !important;
    overflow-y: scroll !important;
  }
} */

/* #block-yui_3_17_2_1_1611441925520_7388 h1 {
  line-height: 4rem !important;
  margin: 0;
} */

[data-section-id="5ff499ff1a1a75700e338aa9"] h1 {
  font-size: 40px !important;
}

.blog-item-description {
  color: var(--background) !important;
}

.sunday-supper-body .entry-title {
  color: var(--background) !important;
  font-family: "ITC Ronda Bold" !important;
}

.sunday-supper-body .blog-item-description {
  display: none !important;
}

.sunday-supper-body .button-bock {
  padding: 10px 15px !important;
}

.sunday-supper-body .has-background::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}

#block-yui_3_17_2_1_1614644274138_3266 h3 {
  color: var(--background) !important;
}

#block-yui_3_17_2_1_1614648218917_26654 h3 {
  color: var(--background) !important;
  font-size: 100px !important;
}

#block-yui_3_17_2_1_1614648218917_26654 h4 {
  color: var(--background) !important;
  font-size: 30px;
  margin-bottom: 5px;
}

[data-section-id="603d93a9a9c0b96ffbf9b322"] a {
  color: var(--background) !important;
}

#block-yui_3_17_2_1_1616347359911_11562 h3 {
  background-image: url(https://static1.squarespace.com/static/5faafe6bd14f953d9205c484/t/6057839950fef20618bcad1a/1616348073354/IG-STORIES-.gif);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent !important;
  letter-spacing: 10px;
}

#block-yui_3_17_2_1_1616347359911_11562 h3 {
  font-size: 10vw !important;
}

@media screen and (min-width: 1230px) {
  #block-yui_3_17_2_1_1616347359911_11562 h3 {
    font-size: 125px !important;
  }

  #block-yui_3_17_2_1_1616347359911_11562 h3:nth-of-type(2) {
    margin-left: -50px;
    letter-spacing: 15px;
  }
}

#block-yui_3_17_2_1_1616423918375_18133 {
  display: none;
}

.header-announcement-bar-wrapper {
  visibility: visible !important;
}

p strong em {
  font-style: normal;
}

.archive-dropdown-toggle-label span {
  font-size: 20px;
}

.archive-group-name-link {
  font-size: 20px !important;
}

@media screen and (min-width: 1457px) {
  #block-6053dd317fb56621ec59eba5 p {
    font-size: 140px !important;
  }
}

#block-0a99cb6209f51114bd38 h1 {
  font-size: 5vw;
}

@media screen and (min-width: 1200px) {
  #block-0a99cb6209f51114bd38 h1 {
    font-size: 60px !important;
  }
}

@media screen and (max-width: 600px) {
  #block-0a99cb6209f51114bd38 h1 {
    font-size: 35px !important;
  }

  #block-60575d4cebd7307ae7053eb6 strong {
    font-size: 35px;
  }
}

.h-entry .image-block {
  transition: 300ms ease;
}

.fh-slidewrapper:nth-of-type(2) {
  display: none !important;
}

/* FIX RONDA KERNING AROUND A */
a strong em {
  font-style: normal;
  margin-left: -3px;
  margin-right: -3px;
}

#block-yui_3_17_2_1_1609110304280_7151 h3 em {
  font-family: "ITC Ronda Bold" !important;
}

#block-yui_3_17_2_1_1625832099300_15441 {
  display: none;
}

[data-section-id="603d93a9a9c0b96ffbf9b322"] {
  display: none;
}

@media screen and (max-width: 600px) {
  [data-section-id="6008f02304e45151eaa2892f"]
    .content-wrapper
    .content
    .row
    .col {
    display: flex !important;
    flex-direction: column-reverse !important;
  }
}

@media screen and (min-width: 1024px) {
  #block-yui_3_17_2_1_1611341767502_13829 h1,
  #block-yui_3_17_2_1_1611341767502_13829 h2 {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
  }
}

.sqs-block-button-element,
.sqs-donate-button {
  width: 200px !important;
}

@media only screen and (max-width: 630px) {
  .sqs-block-button-element,
  .sqs-donate-button {
    width: 70% !important;
  }
}

header .white-bold .sqs-block-button-element,
.white-bold .image-button a,
.white-bold .header-actions .btn,
.white-bold .header-skip-link,
.theme-btn--primary {
  font-family: var(--bodyfont) !important;
}

header .white-bold .sqs-block-button-element,
.white-bold .image-button a,
.white-bold .header-actions .btn:hover,
.white-bold .header-skip-link {
  opacity: 0.8 !important;
  transition: 300ms ease;
}

.blog-item-meta-wrapper {
  display: none;
}

.grid-main-meta .grid-title,
.grid-main-meta span {
  font-family: var(--kobebold);
  color: var(--faded) !important;
}

#hero-intro-logo g {
  opacity: 1;
}

@media screen and (min-width: 3000px) {
  #block-yui_3_17_2_1_1611341767502_13829 h1 {
    font-size: 200px;
  }
}

.header-announcement-bar-wrapper {
  transition: background 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.header-announcement-bar-wrapper .header-nav-item a {
  transition: color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.header-logo-dark {
  position: absolute;
  left: 0;
  top: 0;
  transition: opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

#collection-5fb02bdd69c60d415b50d98e .header-logo-dark {
  opacity: 0;
}

.newsletter-form-field-element {
  border-radius: 5px;
}

.subscribe-bar-links a {
  font-family: inherit;
}

.subscribe-bar-links {
  width: 550px !important;
}

.subscribe-bar-links span {
  box-sizing: borer-box;
  padding: 0 1rem;
}

@media screen and (max-width: 900px) {
  .subscribe-bar-links {
    display: none;
  }
}

.blog-basic-grid--text h1 {
  font-family: inherit !important;
  font-size: 1.6rem !important;
}

.blog-basic-grid .blog-excerpt p {
  font-family: inherit !important;
  font-size: 1rem !important;
}

.blog-basic-grid--text {
  display: flex;
  flex-direction: column-reverse !important;
}

@media screen and (max-width: 600px) {
  .subscribe-bar-links {
    display: none;
  }
}

[data-section-id="600c8196872c446e5a152f9c"] .content-wrapper {
  max-width: none;
}

[data-section-id="600c8196872c446e5a152f9c"] h1 {
  font-size: 4.3vw;
  line-height: 6.3vw;
}

@media screen and (max-width: 600px) {
  [data-section-id="600c8196872c446e5a152f9c"] h1 {
    font-size: 2.2rem;
    line-height: 4rem;
  }
}

.sqs-widgets-audio-player.dark .action:hover {
  background-color: transparent !important;
}

@media screen and (max-width: 600px) {
  .sqs-widgets-audio-player-content .labels {
    display: none;
  }

  .sqs-widgets-audio-player-content {
    position: relative;
  }

  .sqs-widgets-audio-player-content .action {
    border-right: 0;
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

[data-section-id="62bb56d9ba93cc3e0565a3a4"] {
  position: relative;
}

body:not(.is-blog-page) section:nth-child(1) {
  padding-top: 0 !important;
}

body section:nth-child(1) .section-background {
  filter: blur(13px);
}

.newsletter-block
  .newsletter-form-wrapper--layoutStack
  .newsletter-form-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.newsletter-block
  .newsletter-form-wrapper--layoutStack
  .newsletter-form-button-wrapper
  button {
  padding: 1rem 2.4rem !important;
}

.newsletter-form-header-description {
  display: none;
}

#collection-5faafe9106fbfc7f40d810f2 footer {
  display: none;
}

.blog-item-top-wrapper {
  margin-bottom: -5vw !important;
}

.blog-item-title h3 {
  margin-bottom: 0;
}

.sqs-block-markdown + .html-block {
  margin: 0 auto;
  max-width: 709px;
}
